# Sample BuildEnvPlugin config file

# Generated enum name. Default: BuildEnvironment
name: BuildEnvironment
# Generated enum access level.
# Must be one of: public, package, internal. Default: package
access: package
# Obfuscate data by encode: yes/no. Default: no
encode: yes
    
# Environment variable list.
# Format: swift_variable_name=$environment_variable_name
userName= $USER
homeDir= $HOME
# This works with Xcode only:
#config=$CONFIGURATION
